body {
    background: #e7ecef;
    text-align: center;
}

aside {
    text-align: left;
    position: absolute;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    padding-right: 5px;
}

ul {
    list-style-type: none;
}

td {
    text-align: start;
}

td:first-child {
    text-align: center;
    font-weight: bold;
}

footer {
}