aside {
    float: left;
}

body {
    background: #e7ecef;
    text-align: center;
}

aside {
    text-align: left;
    position: absolute;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    padding-right: 5px;
}

ul {
/*    width: 50%;*/
    list-style-type: none;
/*    padding: 0;*/
/*    margin: 0 auto;*/
/*    justify-content: space-between;*/
}

header {
    float: left;
    background: #1d1129;
    width: 100%;
    padding: 2.5%;
    color: white;
    /*border-right: #750d37 5px;*/
}

header img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.description {
    text-align: left;
}

.project-name {
    font-size: 50px;
    text-align: center;
}

/*main .features {*/
/*    text-align: center;*/
/*}*/

td:first-child {
    font-weight: bold;
}

footer {
}